<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\styles.css">
    <title>Attendance System</title>
</head>
<body>
    <h1 class="center">Attendance System</h1>
    <h1 class="center">Home Page</h1>
    <br><br><br><br><br>

    <table class="home_table">
        <th>
            <td class="home_element"><a href="/check" class="home_button">Check Attendance</a></td>
            <td class="home_element"><a href="/remove" class="home_button">Remove student</a></td>
            <td class="home_element"><a href="/add" class="home_button">Add student</a></td>
            <td class="home_element"><a href="/mark" class="home_button">Mark Attendance</a></td>
        </th>
    </table>
</body>
</html>