<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h2 class="center">Remove Student</h2>
    <form action="/remove_student" method="post">
        <input type="text" id="usn" name="usn" placeholder="ENTER USN" style="position: fixed; top: 45%; left:43% ; height: 5%;"><br><br>
        <input type="submit" value="SUBMIT" class="remove">
    </form>
    <a href="/" class ="back">PREVIOUS PAGE</a>
</body>
</html>